<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
  </appSettings>
  <connectionStrings>
    <add name="MySQLConn" connectionString="server=192.168.0.5; database=Ferramentas; port=3306; user=root; password=;" providerName="MySql.Data.MySqlClient" />
    <add name="MySQLRobos" connectionString="server=192.168.0.5; database=roboshomolocacao; port=3306; user=root; password=;" providerName="MySql.Data.MySqlClient" />
    <add name="FireBirdConnMatur" connectionString="DataSource=192.168.0.21; Port=3050; Database=/banco/Matur.FDB; User=SYSDBA; Password=FPuZw9T@!0; Charset=ISO8859_1; Connection lifetime=0; Connection timeout=1500; Pooling=false;" />
  </connectionStrings>
</configuration>
